body {
    background-color: #12131b;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    color: rgb(241, 229, 210);
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
    text-align: center;
    text-decoration: none;

}

h2 {
    color: rgb(241, 229, 210);
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
    text-align: center;
    text-decoration: none;
}

p {
    color: rgb(241, 229, 210);
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
    text-align: left;
    font-size: 17px;
    line-height: 1.4;
    padding-left: 10%;
    padding-right: 10%;
}

a {
  color: rgb(241, 229, 210);
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
    text-align: center;
    line-height: 1.4;
}

nav {
  text-align: center;
}

nav a{
    color: rgb(241, 229, 210);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #303341;
}
