body {
    background-color: #fefefd;
  }
  h1 {
    color: rgb(51, 49, 46);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: none;

  }
  p {
    color: rgb(51, 49, 46);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 17px;
    line-height: 1.4;
    padding-left: 30px;
    padding-right: 30px;
}

nav {
  text-align: center;
}

nav a{
    color: rgb(51, 49, 46);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #d0d0d0;
}